/* ------------------------------------------------------------------- GRAND ECRAN ----------------------------------------------------------- */

section {
  padding-top: 202px;
  width: 90%;
  margin-left: $margeGaucheGlobale;
  margin-right: auto;
  text-align: justify;
  margin-bottom: 4%;
  h3 {
    color: $rougeTitre;
    margin-bottom: 20px;
  }
  h4 {
    color: $orangeCox;
    margin-bottom: 20px;
    margin-left: 2%;
  }
  h5 {
    color: $rougeTitre;
    margin-bottom: 20px;
    margin-left: 4%;
  }
  .margeDiv {
    margin-top: 40px;
  }
  figure {
    margin: 3% 0%;
    text-align: center;
    .imageReduite {
      min-width: 170px;
      width: 40%;
      border: solid $grisClair 3px;
    }
    figcaption {
      margin-top: 2%;
      em {
        font-size: 0.9em;
      }
    }
  }
  table {
    margin-top: 3%;
    thead {
      text-align: center;
      background-color: $grisClair;
    }
  }
  .retourHautDePage {
    margin-right: 0px;
    margin-left: auto;
  }
}







/* ------------------------------------------------------------------- ECRAN MOYEN (max-width: 992px) ----------------------------------------------------------- */

@media all and (max-width: 992px) {
  #sectionAccueil {
    padding-top: 180px;
  }
}







/* ------------------------------------------------------------------- ECRAN PETIT (max-width: 768px) ----------------------------------------------------------- */

@media all and (max-width: 768px) {
    #sectionAccueil {
      padding-top: 132px;
      h3 {
        font-size: 1.1em;
      }
      a {
        font-size: 0.8em;
      }
      p {
        font-size: 0.8em;
      }
      li {
        font-size: 0.8em;
      }
      table {
        font-size: 0.8em;
      }
      figcaption {
        font-size: 0.8em;
      }
    }
}






/* ------------------------------------------------------------------- ECRAN TRES PETIT (max-width: 575px) ----------------------------------------------------------- */

@media all and (max-width: 575px){

}
